/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #249688 0px,
    #249688 15vh,
    #dadbd4 15vh,
    #dadbd4 100vh
  );
  font-family: "Lato", sans-serif;
}

/* MY CLASSES */

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.active {
  background-color: rgba(221, 211, 211, 0.671);
}

/* APP */

.container {
  flex-basis: 80%;
  min-width: 900px;
  height: 95%;
  overflow: hidden;
}

.container .left,
.container .right {
  float: left;
  height: 100%;
}

/* CONTAINER LEFT*/

.container .left {
  width: 35%;
  background-color: white;
  border-right: 1px solid rgba(128, 128, 128, 0.397);
}

/* CONTAINER LEFT HEADER */

.container .left header {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

.container .left header .header-left {
  position: relative;
  width: 65%;
  height: 100%;
  padding: 10px;
}

.container .left header .header-left img {
  height: 90%;
  border-radius: 50%;
  margin-right: 10px;
}

.container .left header .header-left span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container .left header .header-right {
  width: 35%;
  height: 100%;
  padding: 10px;
}

.container .left header .header-right ul {
  list-style: none;
  text-align: right;
}

.container .left header .header-right ul li {
  display: inline-block;
  line-height: 50px;
  margin-left: 8px;
}

.container .left header .header-right ul li i {
  font-size: 1.2em;
  color: #b6b9bb;
  cursor: pointer;
}

.container .left header .header-right ul li i:hover {
  color: #4e5052;
}

/* CONTAINER LEFT SECTION */

.container .left section.notice {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #8edafc;
}

.container .left section.notice .notice-logo {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
}

.container .left section.notice .notice-logo:hover {
  background-color: rgba(241, 235, 235, 0.753);
}

.container .left section.notice .notice-logo i {
  color: #8edafc;
  cursor: pointer;
}

.container .left section.notice .notice-text {
  line-height: 25px;
}

.container .left section.notice .notice-text a {
  color: #5d8ba0;
}

.container .left section.notice .notice-text a:hover {
  color: #4e5052;
}

.container .left section.user {
  background-color: #fafafa;
  padding-top: 5px;
  padding-right: 5px;
}

.container .left section.user .search {
  width: 100% - 5px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.075);
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 5px;
}

.container .left .user .search i {
  width: 10%;
  color: #b6b9bb;
  text-align: center;
  cursor: pointer;
}

.container .left .user .search i:hover {
  color: #4e5052;
}

.container .left .user .search input {
  width: 80%;
  height: 100%;
  border: transparent;
  outline: none;
}

/* CONTAINER LEFT UL */

.container .left .user .ul-cont {
  width: 98%;
  height: calc(100vh - 250px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow-y: auto;
  border-right: 1px solid rgba(128, 128, 128, 0.171);
}

.container .left .user .ul-cont ul {
  width: 100%;
  list-style: none;
}

.container .left .user .ul-cont ul li {
  position: relative;
  height: 80px;
  padding: 10px;
  /* background-color: white; */
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}

.container .left .user .ul-cont ul li:hover {
  background-color: rgba(221, 211, 211, 0.438);
}

.container .left .user .ul-cont ul li:last-child {
  border-bottom: none;
}

.container .left .user .ul-cont ul li img {
  height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.container .left .user .ul-cont ul li span {
  position: absolute;
  top: 8px;
}

.container .left .user .ul-cont ul li div.ultimo-accesso {
  position: absolute;
  top: 12px;
  right: 5px;
  color: #4e5052a8;
  font-size: 0.6em;
  text-align: right;
}

.container .left .user .ul-cont ul li div.ultimo-msg {
  position: absolute;
  top: 50%;
  left: 80px;
  color: #4e5052a8;
  font-size: 0.8em;
  text-align: right;
}

/* CONTAINER RIGHT */

.container .right {
  width: 65%;
}

.container .right header,
.container .right footer {
  height: 70px;
}

/* CONTAINER RIGHT HEADER */

.container .right header {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
}

.container .right header .header-left {
  width: 70%;
  height: 100%;
  padding: 10px;
}

.container .right header .header-left img {
  height: 90%;
  border-radius: 50%;
  margin-right: 10px;
}

.container .right header .header-left .hr-text {
  display: inline-block;
}

.container .right header .header-left .hr-text p:nth-child(2) {
  color: #4e5052a8;
}

.container .right header .header-right {
  width: 30%;
  height: 100%;
  padding: 10px;
  padding-right: 30px;
}

.container .right header .header-right ul {
  list-style: none;
  text-align: right;
}

.container .right header .header-right ul li {
  display: inline-block;
  line-height: 50px;
  margin-left: 8px;
}

.container .right header .header-right ul li i {
  font-size: 1.2em;
  color: #b6b9bb;
  cursor: pointer;
}

.container .right header .header-right ul li i:hover {
  color: #4e5052;
}

/* CONTAINER RIGHT SECTION */

.container .right section {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  padding: 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.msg {
  min-width: 150px;
  min-height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 50px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  background-color: violet;
}

.msg p:nth-child(1) {
  margin-bottom: 8px;
}

.msg p:nth-child(2) {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #4e5052a8;
  font-size: 0.6em;
  text-align: right;
}

.msg i {
  color: #b6b9bb;
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
}

.msg:hover i {
  display: block;
}

.received {
  background-color: white;
  margin-right: auto;
}

.sent {
  background-color: #D5F9BA;
  margin-left: auto;
}

.remove {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  width: 150px;
  position: absolute;
  right: 5%;
  bottom: -40px;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.remove ul {
  list-style: none;
  cursor: pointer;
}

.remove ul li{
  padding: 3px;
}

.remove ul li:hover{
  background-color: lightgray;
}

/* CONTAINER RIGHT FOOTER */

.container .right footer {
  background-color: #f3eeea;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .right footer input {
  width: 90%;
  height: 90%;
  border: transparent;
  outline: none;
  padding: 10px;
}

.container .right footer i {
  font-size: 1.4em;
  cursor: pointer;
  color: #4e5052;
}

.container .right footer i:hover {
  color: #b6b9bb;
}
