<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- f_awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- style.css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Boolzap</title>
</head>

<body>
    <!-- >>>>>>>>>> START #APP -->
  <div id="app" class="container">

    <!-- /* CONTAINER LEFT*/ -->
    <aside class="left">
      <!-- container left HEADER -->
      <header>
        <div class="header-left float-left">
          <!-- aggiungo dinamicamente l'avatar utente -->
          <img :src="'assets/img/avatar' + user.avatar + '.jpg'" :alt="user.name">
          <span>{{user.name}}</span>
        </div>
        <div class="header-right float-left">
          <ul>
            <li><a href="##"><i class="fas fa-circle-notch"></i></a></li>

            <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>

            <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
      </header>
      <!-- end of container left HEADER -->

      <!-- container left SECTION NOTICE-->
      <section class="notice clearfix">
        <!-- al click cambio il font awsome... -->
        <div @click="sendNot()" class="notice-logo float-left">
          <!-- ...grazie all'utilizzo di un flag -->
          <i v-if="notice === false" class="fas fa-bell-slash"></i>
          <i v-else class="fas fa-bell"></i>
        </div>
        <div class="notice-text float-left">
          <p>Ricevi notifiche di nuovi messaggi</p>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </section>
      <!-- end of container left SECTION NOTICE-->

      <!-- container left SECTION USER -->
      <section class="user">
        <div class="search">
          <i class="fas fa-search"></i>
          <input 
          v-model="searchName"
          @keyup.enter="fSearch()"
          type="text" 
          placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="ul-cont">
          <ul>
            <!-- 1 con ciclo v-for vedo e aggiungo dinamicamente gli ogetti dell'array contacts -->
            <!-- 2 al click richiamo la funzione seeMyChat per vedere la chat dell'utente selezionato (vedi activeUser)-->
            <li v-for="(contact, index) in contacts" @click="seeMyChat(index)">
              <!-- aggiungo dinamicamente gli avatar -->
              <!-- option 1 -->
              <!-- <img :src=" 'assets/img/avatar' + contact.avatar + '.jpg'" alt=""> -->
              <!-- option 2: funzione getAvatar -->
              <img :src="getAvatar(index)" :alt="contact.name">
              <span>{{contact.name}}</span>
              <div
               class="ultimo-accesso">{{lastMsgDate(index)}}</div>
              <div class="ultimo-msg">{{lastMsgText(index)}}</div>
            </li>
          </ul>
        </div>
      </section>
      <!-- end of container left MAIN SECTION -->
    </aside>
    <!-- end of container left SECTION USER -->

    <!-- /* CONTAINER RIGHT */ -->
    <main class="right">
      <header>
        <div class="header-left">
          <!-- aggiungo dinamicamente l'avatar dell'utente attivo -->
          <img :src="getAvatar(activeUser)" :alt="contacts[activeUser].name">
          <div class="hr-text">
            <p>{{contacts[activeUser].name}}</p>
            <p>ultimo accesso: {{lastMsgDate(activeUser)}}</p>
            <!-- <p>ultimo accesso: {{contacts[activeUser].messages[lastMsgDate()].date}}</p> -->
          </div>
        </div>
        <div class="header-right">
          <ul>
            <li><a href=""><i class="fas fa-search"></i></a></li>
            <li><a href=""><i class="fas fa-paperclip"></i></a></li>
            <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
      </header>
      <section>
        <!-- ciclo v-for per vedere i contenuti dell'oggetto(array) messages dentro contacts-->
        <div v-for="(message,index) in contacts[activeUser].messages" class="msg"
          :class="(message.status === 'received') ? 'sent' : 'received'">
          <p>
            {{message.text}}
          </p>
          <p>
            {{message.date}}
          </p>
          <i class="fas fa-chevron-down"></i>
        </div>

        <!-- <div class="msg received">
          <p>Hai portato a spasso il cane?</p>
          <p>10/01/2020 15:30:55</p>
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="msg received">
          <p>Ricordati di dargli da mangiare</p>
          <p>10/01/2020 15:50:00</p>
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="msg sent">
          <p>Tutto fatto!</p>
          <p>10/01/2020 16:15:22</p>
          <i class="fas fa-chevron-down"></i>
        </div>  -->

      </section>

    <!-- /* FOOTER */ -->
      <footer>
        <a href="#"><i class="far fa-smile"></i></a>
        <!-- 1 collego il campo input alla variabile msgUtente -->
        <!-- 2 al keyup su invio attivo la funzione addMsg -->
        <input 
        v-model="msgUtente" 
        @keyup.enter="addMsg(activeUser)" 
        type="text" 
        placeholder="Scrivi un messaggio">
        <a href="#"><i class="fas fa-microphone"></i></i></a>
      </footer>
    <!-- /* FOOTER */ -->

    </main>
    <!-- /* end of CONTAINER RIGHT */ -->
  </div>
  <!-- >>>>>>>>>> END #APP -->
  <!-- day.js -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
  <!-- script.js -->
  <script src="assets/js/script.js"></script>
</body>
</html>